body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 5px 80px;
  margin: auto;
  background: radial-gradient(circle at 10% 20%, rgba(146, 213, 241, 0.87) 0%, rgba(164, 228, 255, 0.74) 90%);
  margin-top: 10px;
  border: 1px solid gray;
}

#winner {
  font-size: 2.6rem;
  -webkit-animation: blink 1s linear infinite;
  -moz-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
}

@keyframes blink {  
  0% { color: black; }
  100% { color: red; }
}

#game_settings {
  display: flex;
  align-items: center;
  gap: 10px;
}

#game_settings label {
  font-size: 1.5rem;
  font-weight: 600;
}

#game_settings input {
  height: 1.5rem;
  width: 3rem;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 10%;
}

#submit {
  height: 2rem;
  width: 2rem;
  font-size: 1.2rem;
  border-radius: 10%;
  border: 2px solid darkgreen;
  text-align: center;
  background-color: rgb(82, 255, 47);
  border-radius: 5%;
  border: 2px solid darkgreen;
  box-shadow: gray;
}

#submit:hover {
  background-color: rgb(124, 255, 98);
}

#board {
  background-color: rgba(0, 60, 255, 0.966);
  border: 10px solid navy;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.field {
  height: 70px;
  width: 70px;
  margin: 5px;
  background-color: white;
  border-radius: 50%;
  border: 5px solid navy;
}

.red-piece {
  background-color: red;
}

.yellow-piece {
  background-color: yellow;
}

#restart {
  width: 200px;
  height: 50px;
  margin: 20px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: rgb(82, 255, 47);
  border-radius: 5%;
  border: 2px solid darkgreen;
  box-shadow: gray;
}

#restart:hover {
  background-color: rgb(124, 255, 98);
}

:focus {
  outline: 3px solid rgba(109, 223, 231, 0.596);
}

.animateWinner.red-piece {
  animation: glowingRed 1500ms infinite;
}

@keyframes glowingRed {
  0% {
    background-color: #B20000;
    box-shadow: 0 0 3px #B20000;
  }

  50% {
    background-color: #FF0000;
    box-shadow: 0 0 40px #FF0000;
  }

  100% {
    background-color: #B20000;
    box-shadow: 0 0 3px #B20000;
  }
}

.animateWinner.yellow-piece {
  animation: glowingYellow 1500ms infinite;
}

@keyframes glowingYellow {
  0% {
    background-color: #B2B200;
    box-shadow: 0 0 3px #B2B200;
  }

  50% {
    background-color: #FFFF00;
    box-shadow: 0 0 40px #FFFF00;
  }

  100% {
    background-color: #B2B200;
    box-shadow: 0 0 3px #B2B200;
  }
}